<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <Clever_LoginAuth>
            <version>0.1.0</version>
        </Clever_LoginAuth>
    </modules>
  
    <global>
        
        <models>
            <clever_loginauth>
                <class>Clever_LoginAuth_Model</class>
            </clever_loginauth>
            <customer>
                <rewrite>
                    <customer>Clever_LoginAuth_Model_Customer</customer>
                </rewrite>
            </customer>
        </models>
        
        <helpers>
            <clever_loginauth>
                <class>Clever_LoginAuth_Helper</class>
            </clever_loginauth>
        </helpers>
    
    </global>

</config>